@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

main {
    height: 100vh;
    /*scroll-snap-type: y mandatory;
    overflow-y: scroll;*/
}

header {
    width: 100vw;
    height: 8vh;
    position: fixed;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(20, 20, 20, 0.5);
    height: 8vh;

}

.nav-header h1 {
    padding: 0 50px;
    font-size: 1.5rem;
    vertical-align: middle;
    margin: 0;
}

.nav-header h1 a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}


.nav-ul {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;

}

.nav-ul li {
    padding: 0 20px;
    list-style-type: none;
    height: 100%;

}

.nav-ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;   
    font-weight: 200;
}





.section1 {
    background: url(section1_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-snap-align: center;
}

.section1-spacing {
    height: 92vh;
    margin-top: 8vh;
}


.section1-text,
.section3-text {
    width: 40%;
}

.section1-text h1
.section3-text h1 {
    font-weight: 300;
}

.section1-btn,
.section2-btn,
.section3-btn {
    margin-top: 50px;
    padding: 7px 25px;
    background: rgba(231, 186, 94, 0.877);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 50px;
    border: none;
}

.section1-img img {
    width: 30vw;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.carousel-size {
    width: 30vw;
    

}

.carousel-img-box {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
}

.container-carousel {
    display: flex;
    justify-content: center;
}

.container-text {
    width: 40%;
}

.container-text h1 {
    font-weight: 300;
}

.container-text p {
    margin-top: 30px;
    width: 80%;
}

.section2 {
    background: url(section2_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    scroll-snap-align: center;
}

.section3 {
    background: url(section3_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height:100vh;
    scroll-snap-align: center;
}

.section3-spacing {
    padding-top: 8vh;

}

.scroll-img {
    width: 30px;
    object-fit: contain;
    animation: iconAnime 0.8s linear alternate infinite;
}


@keyframes iconAnime {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

